.item-newDiscussion-stackoverflow .Button {
    width: auto !important;
    background: #3089da !important;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px !important;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }

.IndexPage-toolbar {
    display: block !important;
}

.IndexPage-toolbar-view > li {
    margin-right: -0.5px !important;
}

.IndexPage-toolbar-view>li>a {
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #9fa6ad;
    margin: 0px !important;
    color: #536e88;
    border-radius: 0px;
    line-height: 1.15384615;
    padding: .8em !important;
    /* box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5) inset; */
  }
  
  .IndexPage-toolbar-view>li>a:hover {
    background-color: #e4edf6;
  }
  
  .IndexPage-toolbar-view>li>a:active,
  .IndexPage-toolbar-view>li>a:focus {
    background-color: #d8d8d8;
  }

  .IndexPage-toolbar-view>li:first-child>a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .IndexPage-toolbar-view>li:last-child>a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  
/* Excerpt all */
.DiscussionListItem-info .item-excerpt {
    font-size: 16px !important;
    line-height: 1.5em;
    color: #000 !important;
    text-align: justify !important;
}

/* Title on the main page */
.DiscussionListItem-title{
     font-size: 20px !important;
     color: #1c5d99 !important;}

.sideNav > ul {
    margin-top: 15px !important;
}

.sideNav .Dropdown--select .Dropdown-menu>.item-tags{
    display: none;
}

.DiscussionListItem-info .item-tags{
    display: none;
}

/* Inputs*/
.item-discussionTitle .FormControl {
  padding: .11em .4em !important;
  border: 1px solid #005964;
  width: 540px !important;
}

.item-discussionTitle .FormControl:focus {
  border:1px solid #5ac2cf !important;
}

.FormControl:not(.Search-input .FormControl):focus {
  border-color:#5ac2cf !important;
  box-shadow: 0 0 0 4px rgba(80, 183, 255, 0.2);
  -webkit-box-shadow: 0 0 0 4px rgba(80, 183, 255, 0.2);
}

.ComposerBody-header li.item-tags {
   float: right;
   margin: 0 20px;
}

.ComposerBody-header {
  display: inline-block;
}

.TagLabel {
  padding: 4px 5px !important;
  background-color: #e4edf6;
}

.App-header .FormControl:focus{
  border: 2px solid #3089da !important;
  border-color: unset !importantss;
} 